*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.no-right-padding{
    padding-right: 0 !important;
}
.no-left-padding{
    padding-left: 0 !important;
}

.results-block{
    display: inline-block;
}
.alert{
    width: 500px ;
    height: auto ;
    padding: 6px 12px;
    display: flex;
    justify-content: space-between;
}

.nav-item{
    height: 100% ;
    color: black ;
}
.nav-item:hover{
    background-color: orange;
}
.nav-item:focus{
    background-color: orange;
}

.dropdown-menu{
    padding: 4px ;
}
.dropdown-divider{
    margin-top: 4px ; 
    margin-bottom: 4px ;
}
.dropdown-item:hover{
    border-radius: 8%;
    background-color: lightgray;
}